.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog a{
    color: rgb(35, 35, 35);
    text-decoration: none;


}
.dialog a.active {
    color: goldenrod;
}
.dialogsItems {
    padding: 10px;
}
.messeges {
    padding: 10px;
}

.messege {
    color: rgb(9, 96, 96);
}